.app {
  display: flex;
  height: 100vh;
}

.left-panel {
  width: 33%;
  overflow-y: auto;
  background-color: #f0f0f0;
  padding: 10px;
}

.model-list {
  list-style: none;
  padding: 0;
}

.model-item {
  padding: 10px;
  cursor: pointer;
}

.model-item:hover {
  background-color: #ddd;
}

.right-panel {
  width: 67%;
  display: flex;
  flex-direction: column;
}

.model-viewer-container {
  height: 50%;
  background-color: #000;
}

.model-data-container {
  height: 50%;
  overflow-y: auto;
  padding: 10px;
}